{% extends 'layout.html' %}
{% block content %}
<div class="jumbotron">
    <h2><i class="fa fa-flask" aria-hidden="true"></i> Belldoor's Laboratory</h2>
    <p>Just TRY is the best for practice.</p>
    <p><a href="http://facebook.com/belldoor" class="btn btn-primary btn-large">Belldoor's Facebook &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h3><i class="fa fa-area-chart" aria-hidden="true"></i> Data Visualization with D3.js</h3>
        <p>D3.js is a JavaScript library for manipulating documents based on data. D3 helps you bring data to life using HTML, SVG, and CSS. D3’s emphasis on web standards gives you the full capabilities of modern browsers without tying yourself to a proprietary framework, combining powerful visualization components and a data-driven approach to DOM manipulation.</p>
        <p><a href="https://d3js.org/" class="btn btn-default">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3><i class="fa fa-amazon" aria-hidden="true"></i> Amazon Web Service</h3>
        <p>Amazon Web Services offers a broad set of global compute, storage, database, analytics, application, and deployment services that help organizations move faster, lower IT costs, and scale applications. These services are trusted by the largest enterprises and the hottest start-ups to power a wide variety of workloads including: web and mobile applications, IoT, game development, data processing and warehousing, storage, archive, and many others.</p>
        <p><a href="https://aws.amazon.com/ko/?nc1=h_ls" class="btn btn-default">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3><i class="fa fa-html5" aria-hidden="true"></i> HTML5/CSS</h3>
        <p>This specification defines the 5th major revision of the core language of the World Wide Web: the Hypertext Markup Language (HTML). In this version, new features are introduced to help Web application authors, new elements are introduced based on research into prevailing authoring practices, and special attention has been given to defining clear conformance criteria for user agents in an effort to improve interoperability.</p>
        <p><a href="http://www.w3schools.com/html/html5_intro.asp" class="btn btn-default">Learn more &raquo;</a></p>
    </div>
</div>
{% endblock %}