<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"> <span aria-hidden="true" class="glyphicon glyphicon-leaf"></span>&nbsp;B-Lab</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle"> <span class="region-label">Visualize</span><b
                        class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/visualize/status">Server status</a></li>
                        <li><a href="/visualize/wordcloud">Word cloud with crawler result</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle"> <span class="region-label">Finance</span><b
                        class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">ELS (Euroxx50 & Kospi200)</a></li>
                        <li><a href="#">Stock price index (Nasdaq)</a></li>
                    </ul>
                </li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</div>